<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img class="logo" src="./images/logo-mercado-liebre.svg"></a>
            <div class="search">
                <input type="text" class="search-bar" name="search-bar"
                    placeholder="Buscá tus productos!" value="">
                <button class="lupa"><i class="search-icon fas fa-search"></i></button>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="burger-button">
            <i class="fas fa-bars"></i>
        </a>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta
                        <i class=" header icon far fa-address-card"></i>
                    </a></li>
                <li><a href="/login">Ingresá
                        <i class="header-icon fas fa-sign-in-alt"></i>
                    </a></li>
                <li><a href="#">Mis Compras
                        <i class=" header-icon fas fa-shopping-basket"></i>
                    </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="login-container" action="/" method="GET">
            <h2>Ingresá tu usuario: </h2>

            <div>
                <input type="text" name="user" id="user" placeholder="Nombre de usuario" required class="login-input"></input>
                <span>

                </span>
            </div>

            <div>
                <input type="password" name="pass" id="pass" placeholder="Contraseña" required class="login-input"></input>
                <span>

                </span>
            </div>

            <div class="reg-btns">
                <input type="submit" name="submit" value="Enviar" class="btn-send">
            </div>
        </form>

    </main>


    <footer>
        <section class="footer-box">
            <div class="footer-element">
                <article>
                    <div class="footer-icon"><i class="fas fa-credit-card"></i></div>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </article>
            </div>

            <div class="footer-element">
                <article>
                    <div class="footer-icon"><i class="fas fa-gift"></i></div>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>

                </article>
            </div>

            <div class="footer-element">
                <article>
                    <div class="footer-icon"><i class="fas fa-user-shield"></i></div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </article>

            </div>

        </section>

        <div class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>


    </footer>
</body>

</html>